 {% load static %}
 <a href="" class="list-group-item">
        <div class="row">
            <div class="col-1 d-flex align-items-center justify-content-start">
                <button type="button" class="btn-close fs-6 btn-danger"
                    hx-post="{% url "cart:cart_remove" 1 %}"></button>
            </div>

          <div class="col-3 position-relative">

            <img src="{{ item.image.url }}" class="baket_item_img" alt="{{ item.name }}">
            {% if item.discaunt != 0 %}
                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger fs_n_thin"
                  style="font-size: 0.7rem;">
                  -{{ item.discaunt }}%
                </span>
            {% endif %}
          </div>

          <div class="col-6 position-relative">
                <div class="row flex-column">
                    <div class="col">{{ item.name }}</div>
                    <div class="col text-body-tertiary fs_n_thin_italic fs-6">{{ item.char }}</div>
                </div>
                <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info fs_n_semi_bold">
                    {{ cart.quantity }} x {{ item.sell_price }}
                </span>
          </div>

          <div class="col-2 fs-6 p-0 d-flex align-items-center fs_n_semi_bold">{{ cart.products_price }} ₽</div>
        </div>
      </a>
