{% extends "sales_stat/index.html" %}

{% block stat_content %}
    <canvas id="best_sales"></canvas>
{% endblock stat_content %}


{% block in_scripts %}
<script>
    let ctx_1 = document.getElementById('best_sales');
    let chartData = JSON.parse('{{ chartData|safe }}');
    console.log(chartData);

    let data = {
        labels: chartData.labels,
        datasets: [{
            label: 'Заказы',
            data: chartData.data,            
        }]
    };
    let config = {
        type: 'bar',
        data: data,
        options: {
            scales: {
              y: {
                  title:{
                    display: true,
                    text: 'Количество заказов',
                  },
              },
              x: {
                title:{
                  display: true,
                  text: 'Наименование товара',
                },
                ticks: {
                    autoSkip: false, // Отключаем автоматическое пропускание меток
                    maxRotation: 90, // Максимальный угол поворота текста
                    minRotation: 90, // Минимальный угол поворота текста
                }
            }
          }
        }
    };

    new Chart(ctx_1, config);

</script>
{% endblock in_scripts %}