{% extends "sales_stat/index.html" %}

{% block stat_content %}
    <canvas id="best_sales"></canvas>
{% endblock stat_content %}


{% block in_scripts %}
<script>
    let ctx_1 = document.getElementById('best_sales');
    let chartData = JSON.parse('{{ chartData|safe }}');

    let data = {
        labels: chartData.labels,
        datasets: [{
            label: 'Остатки товара',
            data: chartData.data,            
        }]
    };
    let config = {
        type: 'bar',
        data: data,
        options: {
            indexAxis: 'y',
            plugins: {
                datalabels: {
                    anchor: 'end', // Привязка меток к верхней части столбца
                    align: 'end', // Выравнивание меток
                    formatter: (value) => {
                        return value; // Форматирование текста метки (можно настроить)
                    },
                    color: 'black', // Цвет текста меток
                }
            },
            scales: {
              y: {
                    offset: true,                    
                },
          },
          
          plugins: [ChartDataLabels]
        }
    };

    new Chart(ctx_1, config);

</script>
{% endblock in_scripts %}