{% extends "base.html" %}

{% block content %}

    {% if perms.orders.can_view_orders %}
        <div class="container">
            <p class="text-center fs_n_light fs-4 btn btn-secondary w-100">Курьер ID_{{user.id}}</p>

            <p class="text-center fs_n_light fs-4">Доступные заказы:</p>

            <div class="row">
                <div class="col d-flex flex-column justify-content-center align-items-center " id="ordersContainer">

                    {% for order in orders %}

                        {% include "delivery_panel/include_order.html" %}

                    {% endfor %}

                </div>
            </div>

        </div>

    {% else %}
    <a href="{% url "main:index" %}" class="btn btn-danger text-center w-100 my-5 py-3 fs-1">У вас нет прав для доступа к этой странице</a>

    {% endif %}


    
<script>
    const socket = new WebSocket('ws://127.0.0.1:8000/ws/couriers/');

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);

        if (data.type === 'NEW_ORDER') {
            addNewOrder(data);
        }
        else if (data.type === 'TAKE_ORDER'){
            removeOrder(data.message.order_id);
        };
    };

        function addNewOrder(data) {            
            const orderId = data.message.order_id;
            const adress = data.message.adress;
            const items = data.message.items;

            const orderBlock = document.createElement('div');
            orderBlock.className = "mb-3 border border-primary border-2 rounded-3 shadow p-3 fs_n_light bg-light w-100";
            orderBlock.id = `order_${orderId}`;            
            
            orderBlock.innerHTML += `<p class="fs-6 m-0 fw-bold">Заказ №${orderId}</p>`;
            
            orderBlock.innerHTML += `<p class="fs-6">${adress}</p>`;
            
            orderBlock.innerHTML += `
                <button class="btn btn-outline-secondary mb-2" type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#collapseAria_${orderId}" 
                    aria-expanded="false" 
                    aria-controls="collapseAria_${orderId}">
                    Товары
                </button>
            `;
            
            orderBlock.innerHTML += `
                <a href="/your-url-path/${orderId}/" class="btn btn-success mb-2 fw-bold float-end">ВЗЯТЬ ЗАКАЗ</a>
            `;

            items_str = '';

            items.forEach(item => {
                items_str += `<p class="m-0">${item.name} - ${item.quantity} шт.</p>`;
            });
            
            orderBlock.innerHTML += `
                <div class="collapse" id="collapseAria_${orderId}">
                    <div class="card card-body">
                        ${items_str}
                    </div>
                </div>
            `;

            const ordersContainer = document.getElementById('ordersContainer');
            if (ordersContainer.firstChild) {
                ordersContainer.insertBefore(orderBlock, ordersContainer.firstChild);
            } else {
                ordersContainer.appendChild(orderBlock);
            }               

        }

        function removeOrder(orderId) {
            const elementToRemove = document.getElementById(`order_${orderId}`);
            console.log(elementToRemove);

            if (elementToRemove) {
                elementToRemove.remove(); 
            }
        }

</script>

{% endblock content %}