<div class="mb-3 border border-primary border-2 rounded-3 shadow p-3 fs_n_light bg-light w-100">
    <p class="fs-6 m-0 fw-bold">Заказ №1</p>
    <p class="fs-6">ул. Ленина, д. 1</p>                    

    <button class="btn btn-outline-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Товары
        </button>
    <button class="btn btn-success mb-2 fw-bold float-end">ВЗЯТЬ ЗАКАЗ</button>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Лимонад кока кола 1 л. - 1 шт.
        </div>
    </div>
</div>