    <div class="row mt-3">
      <div class="d-none d-lg-block col-lg-3">
        <div class="filter_block p-2">

          <div class="filter_block_content">
            
            {% include "goods/form_filters.html" %}

            
          </div>
        </div>
      </div>

      <div class="d-flex d-lg-none align-items-center w-100 my-3">
        <button class="btn btn-primary w-100 fs_n_thin_italic" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample">ФИЛЬТРЫ</button>
      </div>

      <div class="collapse mb-3" id="collapseExample">
        <div class="filter_block p-2">
          {% include "goods/form_filters.html" %}
        </div>
      </div>


      <div class="col-lg-9">

        <div class="row row-cols-2 row-cols-md-3 row-cols-xxl-4 g-3" id="goods_list">
            {% for item in goods %}
              {% include "goods/include_item.html" %}
            {% endfor %}          
        </div>


      </div>
    </div>
