 {% load static %}
 {% load cache %}
 <div class="row mt-3">
      <div class="d-none d-lg-block col-lg-3">
        <div class="filter_block p-2">

          <div class="filter_block_content">
            
                {% cache 300 form_filters %}
                    {% include "goods/form_filters.html" %}
                {% endcache %}

            
          </div>
        </div>
      </div>

      <div class="d-flex d-lg-none align-items-center w-100 my-3">
        <button class="btn btn-primary w-100 fs_n_thin_italic" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample">ФИЛЬТРЫ</button>
      </div>

      <div class="collapse mb-3" id="collapseExample">
        <div class="filter_block p-2">
          {% cache 300 form_filters %}
            {% include "goods/form_filters.html" %}
          {% endcache %}
        </div>
      </div>


      <div class="col-lg-9">
        
        <div class="row row-cols-2 row-cols-md-3 row-cols-xxl-4 g-3" id="goods_list">
          
            <input type="hidden" name="" hx-get="{% url 'goods:filter' %}?page={{ page_obj.next_page_number }}&name=&category=&min_price=&max_price=&oreding=&sale="
            hx-trigger="load"                  
            hx-target="#goods_list">         
        </div>
        

         


      </div>
    </div>

    


