

{% for item in goods %}

    {% include "goods/include_item.html" %}

{% endfor %} 

{% if page_obj.has_next %}

              <div class="col" style="width: 1px; position: absolute; bottom: 0; right: 0;"
                hx-get="{% url 'goods:filter' %}?page={{ page_obj.next_page_number }}"
                hx-trigger="intersect once"                  
                hx-target="#goods_list"
                hx-swap="beforeend"
                hx-on="htmx:load:alert('hello')"
                  >
              </div>

{% endif %}
