{% load static %}



<button class="no_fill_button {% if item.quantity == 0 %} not_quantity {% endif %} position-relative">

    <div class="col align-items-center item {% if not user.age_confirmed and item.category.pk == 2 %}blur_img{% endif %}">

        <div class="item_border_out p-1 border-bottom border-2">

            <div class="item_border_in border-top border-1 p-2">

                <div class="row position-relative base_container_item">

                    <div class="position-absolute label_category fs_n_thin_italic">
                        {{ item.category }}
                    </div>

                    {% if item.image %}
                        <img src="{{ item.image.url }}" class="item_img" alt="{{item.name}}_{{item.char}}">
                    {% else  %}
                        <img src={% static "main/img/no_img.png" %} class="item_img" alt="no_ing">
                    {% endif %}

                    {% if item.discaunt != 0 %}
                        <div
                        class="position-absolute label_sale "><p>{{ item.discaunt }}%</p></div>
                    {% endif %}
                
                    <div class="col ps-4 flex-column">
                        <div class="item_name fs-4">
                            {{ item.name }}
                        </div>
                        <div class="item_characteristic text-body-tertiary fs_n_thin_italic" title="{{ item.char }}" style="width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            {{ item.char|truncatechars:30 }}
                        </div>
                    </div>

                    <div class="row ps-4 pt-2 w-100">

                        <div class="col d-flex align-items-center justify-content-around w-100 pe-0">

                            <div class="float-start fs-6 fs_n_thin_italic">Цена:</div>

                            <div class="item_price fs_n_black fs-4 p-0" style="{% if item.discaunt != 0 %}color:#dc3545;{% endif %}">{{ item.sell_price }}₽</div>
                            
                            {% if item.quantity != 0 and user.age_confirmed %}  
                                <i class="fa-solid fa-plus fs-3 text-secondary" hx-get="{% url "cart:cart_add" item.slug%}" hx-swap="none"
                                ></i>
                            {% elif item.quantity != 0 and not item.category.pk == 2 %}
                                <i class="fa-solid fa-plus fs-3 text-secondary" hx-get="{% url "cart:cart_add" item.slug%}" hx-swap="none"
                                ></i>

                            
                            {% endif %}

                             

                        </div>

                    </div>                           

                </div>

            </div>
        </div>
    </div>

    {% if not user.age_confirmed and item.category.pk == 2 %}
    
        <div class="position-absolute top-50 start-50 fs_n_black translate-middle text-light w-100" style="z-index: 10;">
            <p class="btn btn-danger fs-2">18+</p>
            <p class="btn btn-secondary p-0 w-75">Подтвердить возраст можно курьеру после первого заказа!</p>
        </div>
        
    {% endif %}
</button>

