{% load active_adress_filter %}
<div class="dropdown">
      {% get_active_address user as active_address %}
      {% if active_address %}
      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="addressDropdown" data-bs-toggle="dropdown"  aria-expanded="false">
        {{ active_address.city }}, ул. {{ active_address.street }}, д.{{ active_address.house }}, кв.{{ active_address.apartment }} 
        </button>
      {% else %}
      <button
          onclick="closeOffcanvasFirst()"
          hx-get="{% url 'user:add_address' %}"
          hx-target="#modals-here"
          hx-trigger="click delay:100ms"
          data-bs-toggle="modal"
          data-bs-target="#modals-here"
          class="btn btn-outline-primary ms-3 fs_n_thin">
          <i class="fa-solid fa-user pe-2"></i>Добавить адрес
        </button>
          
      {% endif %}
    
    <form hx-post="{% url 'user:set_active_address' %}">{% csrf_token %}
      <ul class="dropdown-menu shadow-sm w-100" aria-labelledby="addressDropdown">
        {% if not user.addresses.all %} <li class="text-center text-secondary"> Нет адресов </li>{% endif %}
        {% for address in user.addresses.all %}
            <li>
                <a class="dropdown-item d-flex justify-content-between align-items-center {% if address.is_active %}active{% endif %}"
                   href="#"
                   hx-post="{% url 'user:set_active_address' %}"
                   hx-vals='{"address_id": "{{ address.id }}"}'
                   hx-target="#addressDropdown"
                   hx-swap="outerHTML">
                   
                    <span style="font-size: .9rem">{{ address.city }}, ул. {{ address.street }}, д.{{ address.house }}, кв.{{ address.apartment }}</span>
                    {% if active_address == address %}
                        <i class="bi bi-check2 text-success"></i>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
        <li><hr class="dropdown-divider"></li>
        <li>
            <button
                onclick="closeOffcanvasFirst()"
                hx-get="{% url 'user:add_address' %}"
                hx-target="#modals-here"
                hx-trigger="click delay:100ms"
                data-bs-toggle="modal"
                data-bs-target="#modals-here"
                class="btn btn-outline-primary ms-3 fs_n_thin">
                <i class="fa-solid fa-user pe-2"></i>Добавить новый адрес
            </button>
        </li>
    </ul>
    </form>
  </div>