{% load static %}
{% block header_link %}
    <link rel="stylesheet" href={% static "users/css/users_block.css" %}>
{% endblock header_link %}

<div class="modal-dialog modal-dialog-centered" style="max-width: 400px;">
    <div class="modal-content" id="modal_content">

      <div class="modal-header">
        <h5 class="modal-title text-center w-100 fs-2">Авторизация</h5>
      </div>

      <div class="modal-body">
        

          <form action="{% url 'user:login' %}" method="post" id="login_Myform">
            {% csrf_token %}

            {% if form.non_field_errors %}
              <div class="error">{{ form.non_field_errors }}</div>
            {% endif %}

            <div class="phone_block">
              <label for="id_username" class="fs_n_semi_bold">Телефон:</label>
              <input type="text" name="username" id="id_username" class="form-control fs_n_light_italic" placeholder="8(000)000-00-00" 
              value="{% if form.username.value %}{{ form.username.value }}{% endif %}" required>

              
            </div>

            <div class="pass_block">
              <label for="id_password" class="fs_n_semi_bold">Пароль:</label>
              <input type="password" name="password" id="id_password" class="form-control fs_n_light_italic" placeholder="Введите пароль"
              value="{% if form.password.value %}{{ form.password.value }}{% endif %}" required>

            
            </div>

            <input type="submit" 
              hx-post="{% url 'user:login' %}"
              hx-target="#modal_content"
              hx-on = ""
              class="btn btn-primary  w-100 fs_n_light_italic"
              value="Войти">


            

          </form>

          <div class="login_footer mt-3">
            <a href="" hx-get="{% url "user:password_reset" %}" hx-target="#modal_content" class="fs_n_light">Забыли пароль?</a>
            <a href="" class="fs_n_light"
              hx-get="{% url 'user:register' %}"
              hx-target="#modal_content"
              hx-trigger="click delay:100ms">Зарегистироваться</a>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Закрыть</button>
      </div>
      
    </div>
  </div>



  <script src="https://unpkg.com/imask"></script>
  <script>    
    var element = document.getElementById('id_username');
    var maskOptions = {
        mask: '8(000)000-00-00',
        lazy: false
    } 
    var mask = new IMask(element, maskOptions); 

    document.getElementById('login_Myform').addEventListener('change', (e) => {
      document.getElementById('id_username').value = '8' + mask.unmaskedValue;
    }); 
  </script>
 