{% load static %}
{% block header_link %}
    <link rel="stylesheet" href={% static "users/css/users_block.css" %}>
{% endblock header_link %}

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="modal_content">

      <div class="modal-header">
        <h5 class="modal-title text-center w-100 fs-2">Авторизация</h5>
      </div>

      <div class="modal-body">
        

          <form action="{% url 'user:login' %}" method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
              <div class="error">{{ form.non_field_errors }}</div>
            {% endif %}

            <div class="phone_block">
              <label for="id_username" class="fs_n_semi_bold">Телефон:</label>
              <input type="text" name="username" id="id_username" class="form-control fs_n_light_italic" placeholder="Введите номер телефона" 
              value="{% if form.username.value %}{{ form.username.value }}{% endif %}" required>

              
            </div>

            <div class="pass_block">
              <label for="id_password" class="fs_n_semi_bold">Пароль:</label>
              <input type="password" name="password" id="id_password" class="form-control fs_n_light_italic" placeholder="Введите пароль"
              value="{% if form.password.value %}{{ form.password.value }}{% endif %}" required>

            
            </div>

            <input type="submit" 
              hx-post="{% url 'user:login' %}"
              hx-target="#main_container"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              value="Войти">


            

          </form>

          <div class="login_footer">
            <a href="" class="fs_n_light">Забыли пароль?</a>
            <a href="" class="fs_n_light"
              hx-get="{% url 'user:register' %}"
              hx-target="#main_container"
              hx-trigger="click delay:100ms">Зарегистироваться</a>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>


