{% load carts_tags %}

{% if user.is_authenticated %}

    {% user_carts request as carts %}
    <p class="p-0 m-0 fs-6">Выбранный адрес для доставки:</p>
    {% include "users/address_dropdown.html" %}

    {% if carts %}

        {% for cart in carts|dictsort:"product.name"|dictsort:"product.char" %}

            {% include "carts/include_item_carts.html" with item=cart.product%}

            {% if forloop.last %}

                <div class="row pe-0 pt-3 w-100 d-flex justify-content-between align-items-center">
                    {% if carts.total_price >= 600 %}
                        <div class="col-6 fw-bold">Итого: {{ carts.total_price}} ₽</div>
                        <div class="col-6 d-flex justify-content-end">
                            <a
                                hx-get="{% url 'orders:create_order' %}"
                                hx-target="#basket_list"
                                hx-trigger="click delay:100ms"
                                class="btn btn-primary" type="button">Заказать <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    {% else %}
                    <div class="col-6 fw-bold mb-3">Итого: {{ carts.total_price}} ₽</div>
                        <p class="btn btn-danger text-center">Минимальная сумма заказа: 600 р</p>
                    {% endif %}
                </div> 
                
            {% endif %}

        {% endfor %}

    {% else %}
    <i class="fa-solid fa-cart-plus text-primary text-center fs-2 mt-5"></i>
    <p class="text-primary text-center">Корзина пуста!</p>

    {% endif %}

{% else %}

<p class="text-danger text-center">Авторизуйтесь что бы сделать заказ!</p>
<button
          onclick="closeOffcanvasFirst()"
          hx-get="{% url 'user:login' %}"
          hx-target="#modals-here"
          hx-trigger="click delay:100ms"
          data-bs-toggle="modal"
          data-bs-target="#modals-here"
          class="btn btn-primary fs_n_thin">
          <i class="fa-solid fa-user pe-2"></i>Войти
        </button>

{% endif %}