<div class="container mt-4 pb-3">
    <div class="row footer fs_n_light_italic">
      <div class="col-md-4 footer_col d-flex flex-column">
        <p class="fs-5">Навигация</p>
        <a href=""
            hx-get="{% url "main:index" %}"
            hx-target="#main_container"
            hx-push-url="true"
             class="fs-6">Главная</a>
        <a href=""
            hx-get="{% url "goods:catalog" %}"
            hx-target="#main_container"
            hx-push-url="true"
            hx-trigger="click"
            class="fs-6">Каталог</a>
      </div>
      <div class="col-md-4 footer_col d-flex flex-column">
        <p class="fs-5">Клиентам</p>
        <a href=""
        hx-get="{% url "user:profile" %}"
        hx-target="#main_container" class="fs-6">Личный кабинет</a>
        <a href="" class="fs-6">Возврат товара</a>
      </div>
      <div class="col-md-4 footer_col d-flex flex-column">
        <p class="fs-5">Для персонала</p>
        {% if user.is_staff %}
          <a href="{% url "delivery:delivery_panel" %}" class="fs-6">Курьерам</a>
          <a href={% url "sales_stat:index" %} class="fs-6">Статистика</a>
          <a href={% url "admin:index" %} class="fs-6">Администрирование</a>
        {% else %}
          <p>Вы не являетесь членом персонала.</p>
        {% endif %}
        
        
      </div>
    </div>
    <p class="fs-5 text-center mt-3 fs_n_light_italic">Сайт разработал Шатохин Павел Павлович</p>
  </div>