<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBasket" aria-labelledby="offcanvasBasketLabel">
    <div class="offcanvas-header">
      <h2 class="offcanvas-title" id="offcanvasBasketLabel">Корзина</h2>
      <button
        onclick="closeOffcanvasFirst()"
        hx-get="{% url 'user:login' %}"
        hx-target="#modals-here"
        hx-trigger="click delay:100ms"
        data-bs-toggle="modal"
        data-bs-target="#modals-here"
        class="btn btn-outline-primary ms-3">
        <i class="fa-solid fa-user pe-2"></i>Войти
      </button>
      <button type="button" class="btn-close fs-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body fs_n_light_italic fs-5 list-group list-group-flush" id="basket_list">

      

      {% comment %} <a href="" class="list-group-item">
        <div class="row">
          <div class="col-3 position-relative">
            <img src="/alpha_tempaltes/img/goods/hard_seltzer.png" class="baket_item_img" alt="">
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger fs_n_thin"
              style="font-size: 0.7rem;">
              - 50%
            </span>
          </div>
          <div class="col-7 position-relative">
            <div class="row flex-column">
              <div class="col">Hard seltzer</div>
              <div class="col text-body-tertiary fs_n_thin_italic fs-6">Мандарин и Персик</div>
            </div>
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info fs_n_semi_bold">
              3 шт х 123₽
            </span>
          </div>
          <div class="col-2 fs-6 p-0 d-flex align-items-center fs_n_semi_bold">369 ₽</div>
        </div>
      </a> {% endcomment %}

      {% comment %} <div class="row pt-3">
        <div class="col-6 fw-bold">Итого: 369 ₽</div>
        <div class="col-6 d-flex justify-content-end pe-3">
          <button class="btn btn-primary" type="button">Заказать</button>
        </div>
      </div> {% endcomment %}


    </div>
  </div>


  <script>
    function closeOffcanvasFirst() {
        const offcanvas = document.getElementById('offcanvasBasket');
        const bsOffcanvas = bootstrap.Offcanvas.getInstance(offcanvas);
        bsOffcanvas.hide();
    }
    </script>