{% load static %}
<div class="p-2 mx-3 fs-4 fs_n_thin_italic lh-1 d-flex flex-column align-items-center border discount_block_item good_item">
    {% if item.image %}
                        <img src="{{ item.image.url }}" class="item_img" alt="{{item.name}}_{{item.char}}">
                    {% else  %}
                        <img src={% static "main/img/no_img.png" %} class="item_img" alt="no_ing">
                    {% endif %}
    <div class="discount_block_item_goods">
        <p class="fs-6 px-3 m-0 discount_block_item_goods_name fs_n_light_italic">{{ item.name }}</p>

        <p class="m-0 mt-2 px-3 discount_block_item_goods_name_char fs_n_thin">{{ item.char }}</p>

        <div class="fs-6 px-3 discount_block_item_goods_price fs_n_black_italic">
        {{ item.price }} р
        <p class="discount_block_item_goods_price_old fs_n_light">{{ item.discount }}</p>
        {% if user.is_authenticated %} 
            <i class="fa-solid fa-plus fs-6 float-end" hx-get="{% url "cart:cart_add" item.slug%}" hx-swap="none"></i>
        {% endif %}
        </div>

    </div>

</div>
