{% load active_adress_filter %}

<div class="offcanvas offcanvas-end basket_canvas" tabindex="-1" id="offcanvasBasket" aria-labelledby="offcanvasBasketLabel">
    <div class="offcanvas-header">

      <h2 class="offcanvas-title" id="offcanvasBasketLabel">Корзина</h2>

      {% if user.is_authenticated %}

        <form action="{% url 'user:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit"
            onclick="closeOffcanvasFirst()"
            data-bs-toggle="modal"
            class="btn btn-outline-danger ms-3 fs_n_thin">
            <i class="fa-solid fa-user pe-2"></i>Выйти            
          </button>
        </form>

        <button
        hx-get="{% url "user:profile" %}"
        hx-target="#main_container"
        data-bs-dismiss="offcanvas"
        class="btn btn-outline-primary ms-3 fs_n_thin">Кабинет</button>

      {% else %}

        <button
          onclick="closeOffcanvasFirst()"
          hx-get="{% url 'user:login' %}"
          hx-target="#modals-here"
          hx-trigger="click delay:100ms"
          data-bs-toggle="modal"
          data-bs-target="#modals-here"
          class="btn btn-outline-primary ms-3 fs_n_thin">
          <i class="fa-solid fa-user pe-2"></i>Войти
        </button>

      {% endif %}

      <button type="button" class="btn-close fs-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>

    </div>

    <div class="offcanvas-body fs_n_light_italic fs-5 list-group list-group-flush" id="basket_list">
    
      <div class="row mx-auto mt-3 border-0 w-100" id="cart_list">
        
        {% include "users/users_cart.html" %}
      
      </div>
    </div>
  </div>

  <script>
    function closeOffcanvasFirst() {
        const offcanvas = document.getElementById('offcanvasBasket');
        const bsOffcanvas = bootstrap.Offcanvas.getInstance(offcanvas);
        bsOffcanvas.hide();
    }
    </script>