<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
      <h2 class="offcanvas-title" id="offcanvasMenuLabel">Меню</h2>
      <button type="button" class="btn-close fs-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body fs_n_light_italic fs-5 header_menu list-group list-group-flush">

      <a href="" class="list-group-item">Каталог</a>
      <a href="" class="list-group-item">Акции</a>
      <a href="" class="list-group-item">Доставка</a>

    </div>
  </div>