<div class="container mt-4 pb-3">
    <div class="row footer fs_n_light_italic">
      <div class="col-md-4 footer_col d-flex flex-column">
        <p class="fs-5">Навигация</p>
        <a href="" class="fs-6">Главная</a>
        <a href="" class="fs-6">Каталог</a>
        <a href="" class="fs-6">Акции</a>
        <a href="" class="fs-6">Доставка</a>
      </div>
      <div class="col-md-4 footer_col d-flex flex-column">
        <p class="fs-5">Клиентам</p>
        <a href="" class="fs-6">Личный кабинет</a>
        <a href="" class="fs-6">Возврат товара</a>
        <a href="" class="fs-6">Написать в поддержку</a>
        <a href="" class="fs-6"></a>
      </div>
      <div class="col-md-4 footer_col d-flex flex-column">
        <p class="fs-5">Для персонала</p>
        <a href="" class="fs-6">Курьерам</a>
        <a href="" class="fs-6">Администрирование</a>
        
      </div>
    </div>
    <p class="fs-5 text-center mt-3 fs_n_light_italic">Сайт разработал Шатохин Павел Павлович</p>
  </div>