
{% load static %}

    {% block header_link %}
        <link rel="stylesheet" href={% static "main/css/index.css" %}>
    {% endblock header_link %}


    {% block content %}
        

        <div class="row row-cols-6 pt-4">

          {% for category in categories  %}
            <a href='#'
              hx-get="{% url "goods:category" category.slug %}"
              hx-target="#main_container"
              hx-push-url="true"
             class="col p-0">
              <div class="icon_menu">
                <div class="icon_menu_wrapper">
                  <img src="{{ category.image.url }}" alt="{{ category.name }}" class=" ">
                  <p class="fs-5 fs_n_light_italic d-none d-md-block">{{ category.name }}</p>
                </div>
              </div>
            </a>
          {% endfor %}
          
        </div>
    
    
        <p class="m-0 pt-2 fs-3">Наши акции</p>
        <div class="pt-2 discount_block">
    
    
          <div class="p-2 fs-4 fs_n_thin_italic lh-1 d-flex flex-column align-items-center discount_block_item"
            style="background-color:#acd5f5fc;">
            <p class="fs-5 discount_block_item_text fs_n_black_italic">Скидка при покупке двух энергетиков!</p>
            <img src={% static "main/img/discount/baner1.png" %} alt="" class="">
          </div>
    
          <div class="p-2 fs-4 fs_n_thin_italic lh-1 d-flex flex-column align-items-center discount_block_item"
            style="background-color:#acd5f5fc;">
            <p class="fs-5 discount_block_item_text fs_n_black_italic">Скидка на лимонад!</p>
            <img src={% static "main/img/discount/baner1.png" %} alt="" class="">
          </div>
    
          <div class="p-2 fs-4 fs_n_thin_italic lh-1 d-flex flex-column align-items-center discount_block_item"
            style="background-color:#acd5f5fc;">
            <p class="fs-5 discount_block_item_text fs_n_black_italic">Скидка при покупке двух энергетиков!</p>
            <img src={% static "main/img/discount/baner1.png" %} alt="" class="">
          </div>
    
          <div class="p-2 fs-4 fs_n_thin_italic lh-1 d-flex flex-column align-items-center discount_block_item"
            style="background-color:#acd5f5fc;">
            <p class="fs-5 discount_block_item_text fs_n_black_italic">Скидка при покупке двух энергетиков!</p>
            <img src={% static "main/img/discount/baner1.png" %} alt="" class="">
          </div>
    
          <div class="p-2 fs-4 fs_n_thin_italic lh-1 d-flex flex-column align-items-center discount_block_item"
            style="background-color:#acd5f5fc;">
            <p class="fs-5 discount_block_item_text fs_n_black_italic">Скидка при покупке двух энергетиков!</p>
            <img src={% static "main/img/discount/baner1.png" %} alt="" class="">
          </div>
    
          <div class="p-2 fs-4 fs_n_thin_italic lh-1 d-flex flex-column align-items-center discount_block_item"
            style="background-color:#acd5f5fc;">
            <p class="fs-5 discount_block_item_text fs_n_black_italic">Скидка при покупке двух энергетиков!</p>
            <img src={% static "main/img/discount/baner1.png" %} alt="" class="">
          </div>
    
    
          <div class="finger d-block d-xxl-none"><i class="fa-solid fa-hand-point-up"></i></div>
    
    
        </div>
    
        <p class="m-0 pt-2 fs-3">Лучшие из лучших</p>


        <div class="row position-relative">
          <div class="scrollable">
            <div class="pt-2 discount_block content">
        
              <div class="p-2 fs-4 fs_n_thin_italic lh-1 d-flex flex-column align-items-center discount_block_item"
                style="background-color:#d99f1bba;">
                <img src={% static "main/img/discount/baner1.png" %} alt="" class="">
                <i class="fa-solid fa-crown crown"></i>
                <p class="fs-5 m-0 discount_block_item_text fs_n_black_italic">Посмотреть все товары...</p>
              </div>            
        
              {% for item in items_bests %}
                {% include "main/include_item_best.html" %}
              {% endfor %}      
        
            </div>          
          </div>
          <button id="scrollLeft" class="btn btn-warning btn_slider d-none d-lg-flex" style="left:-20px;"><i class="fa-solid fa-arrow-left"></i></button>
          <button id="scrollRight" class="btn btn-warning btn_slider d-none d-lg-flex" style="right:0;"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    
    {% endblock content %}

    {% block scripts %}
      <script src={% static "main/js/scrols_adds_index.js" %}></script>
    {% endblock scripts %}