@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
body {
  background-size: 15vw;
  height: 100vh;
  font-family: "AmaBold";
  font-size: 1rem;
  box-sizing: border-box;
}
body .header {
  background-color: #FFFFFF;
}
body .header_logo img {
  max-height: 70px;
}
body .header_name_market {
  margin: 0 0 0 0.5rem;
  color: #FFFFFF;
  padding: 0.1rem 0.5rem;
  background-color: #298BED;
  border-radius: 10%;
}
body .header_menu {
  margin: 0 0.5rem;
  background-color: #FFFFFF;
}
body .header_menu .col,
body .header_menu a {
  transition: all 0.5s ease-in-out;
  border-radius: 10%;
}
body .header_menu .col:hover,
body .header_menu a:hover {
  background-color: #f5b727;
  border-radius: 10%;
  cursor: pointer;
}
body .header_login {
  text-decoration: none !important;
  background-color: #298BED;
  color: #FFFFFF;
  border-radius: 10%;
  transition: all 0.5s ease-in-out;
}
body .header_login:hover {
  color: #000000;
  background-color: #f5b727;
}

.item {
  cursor: pointer;
}
.item .item_border_out {
  transition: all 0.5s ease-in-out;
  border-radius: 10%;
  height: 100%;
  overflow-x: hidden;
}
.item .item_border_in {
  background-color: #FFFFFF;
  border-radius: 10%;
  transition: all 0.5s ease-in-out;
  height: inherit;
  overflow: hidden;
}
.item .item_badge {
  bottom: 20px;
  right: 10px;
}
.item_img {
  width: 100%;
  border-radius: 15%;
  z-index: 2;
}
.item_characteristic {
  font-size: small;
}
.item_price {
  color: #298BED;
  width: 100%;
  text-align: center;
}
.item_add_to_card {
  display: none;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: -15px;
  font-family: "NerisSemiBold";
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10%;
  height: 109%;
  z-index: 1000;
}
.item .label_category {
  position: absolute;
  background: linear-gradient(90deg, rgb(245, 183, 39) 0%, rgb(255, 224, 152) 100%);
  width: auto;
  top: 55%;
  left: 4px;
  z-index: 500;
  border-radius: 0 10px 10px 10px;
  box-shadow: 6px 3px 2px -1px rgba(0, 0, 0, 0.4);
}
.item .label_category::before {
  content: " ";
  position: absolute;
  top: -13px;
  left: 0;
  width: 8px;
  height: calc(100% + 10px);
  background: linear-gradient(90deg, rgb(209, 156, 33) 0%, rgb(245, 183, 39) 100%);
  z-index: 10;
  border-radius: 10px 0 0 10px;
}
.item .label_category::after {
  content: " ";
  position: absolute;
  top: -17px;
  left: 0;
  width: 8px;
  height: 70%;
  background: linear-gradient(90deg, rgb(109, 77, 7) 0%, rgb(141, 101, 7) 100%);
  z-index: 100;
  border-radius: 10px 0 0 10px;
}
.item:hover .item_border_out {
  background: repeating-conic-gradient(from var(--a), #f5b727 0%, #f5b727 5%, transparent 5%, transparent 40%, #f5b727 50%);
  animation: rotate 7s linear infinite;
}

.filter_block {
  background-color: rgba(41, 139, 237, 0.2);
  min-height: 20vh;
  position: sticky;
  top: 2rem;
  border-radius: 10%;
}
.filter_block_name {
  text-align: center;
  border-bottom: 1px solid #298BED;
}

.baket_item_img {
  width: 100%;
  border-radius: 10%;
}

a {
  text-decoration: none;
  color: #000000;
}

.footer {
  border-top: #0A519B 10px solid;
  text-align: center;
}
.footer p:not(:last-child) {
  margin: 0;
  border-radius: 0 0 10px 10px;
  background-color: #298BED;
  color: #FFFFFF;
}
.footer p:last-child {
  margin-top: 0.5rem;
}
.footer_col a {
  margin-top: 5px;
  border-radius: 20px;
}
.footer_col a:hover {
  color: #FFFFFF;
  background-color: rgba(41, 139, 237, 0.7);
}

@keyframes rotate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}/*# sourceMappingURL=main.css.map */